data/demo/
plot/
results/
scripts/out_log
scripts/error_log
/standalone/dist*
/standalone/data
/standalone/output/
/standalone/xmagic-x86_64.AppImage
/standalone/xmagic
/standalone/output*
/database/results
database/sbatch_script/out_log
database/sbatch_script/error_log

.DS_Store
.idea
*.log
tmp/

error_log/
out_log/
yaml_file/
